{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block pagetitle %}

{% endblock pagetitle %}



{% block content %}

<div class="row">
	<div class="col-lg-12">
		<ul class="list-group list-group-flush">
		{% for profile in profiles %}
		  <li class="list-group-item"><a href="{% url 'profile' profile_id=profile.id %}"><img class="profile-image rounded-circle" src="{{profile.profile_image.url}}"" alt="profile-image">{{profile.user}}</a></li>
		{% endfor %}

		</ul>
	</div>
</div> 	

{% endblock content %}